<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>ImportCSV\ImportCSV</fullnamespace>
    <descriptive locale="en_US">
        <title>Import your products from CSV</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Importation de vos produits en CSV</title>
    </descriptive>
    <version>0.1.0</version>
    <author>
        <name>Arnaud VALOT</name>
        <company>Aravis Informatique</company>
        <email>web@aravis-informatique.com</email>
        <website>www.aravis-informatique.com</website>
    </author>
    <type>classic</type>
    <thelia>2.2.1</thelia>
    <stability>beta</stability>
</module>
